@font-face {
    font-family: "Monospace";
    font-weight: 400;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face {
    font-family: "Monospace";
    font-weight: 700;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}
#readme{
  background: black;
  color: white;
  padding: 24px;
  font-size: 16px;
  line-height: 1.5em;
}
#readme a{
  color: white;
}
b,strong{
  font-weight: 700;
}
em,i{
  font-style: italic;
}
#canvas{
  position: fixed;
  top: 0;
  left: 0;
}
*{
  font-family: "Monospace",monospace;
  font-weight: 400;
}
.recording-marker{
  position: fixed;
  top: 24px;
  left: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: red;
  animation: recording 1s ease-in-out infinite;
  z-index: 2;
  display: none;
}
.recorder-active .recording-marker{
  display: block;
}
.exporting-marker {
  position: fixed;
  display: none;
  top: 24px;
  left: 24px;
  z-index: 2;
  font-size: 2px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ff0000;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.exporting-marker:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.exporting-marker:after {
  background: #ff0000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.export-active .exporting-marker{
  display: block;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes recording {
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}
#gui{
  position: fixed;
  bottom: -100%;
  left: 0;
  width: calc(100% - 3em);
  height: calc(100% - 2em);
  overflow: auto;
  white-space: nowrap;
  background: rgba(16,16,16,0.5);
  padding: 1em;
  padding-left: 2em;
  user-select: none;
  transition: all 0.2s ease-in-out;
  color: #cccccc;
}
.ui-active #gui{
  bottom: 0;
}
.gui-window #gui{
  left: 0;
  top: 0;
  bottom: auto;
  max-width: none;
  max-height: none;
  width: calc(100% - 5em);
  height: calc(100% - 4em);
  padding: 2em;
  padding-left: 3em;
  background: rgb(16,16,16) !important;
}
#gui::selection,
#gui::-moz-selection{
  background: white;
  color: black;
}
#gui table{
  font-size: 1em;
  padding: 0;
  white-space: pre;
  padding-right: 1em;
  padding-bottom: 1em;
  display: inline-block;
  position: relative;
  margin-right: 1em;
  margin-bottom: 0.5em;
  border-spacing: 0.5em 0;
  position: relative;
}
#gui table:before{
  content: "";
  background: #cccccc;
  position: absolute;
  top: 0;
  left: -1em;
  width: 2px;
  height: 100%;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
}
#gui table:after{
  content: "";
  background: #cccccc;
  position: absolute;
  top: 0;
  left: -1em;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
}
#gui tbody{
  display: table-row-group;
}
#gui .table-toggle{
  position: absolute;
  top: 0;
  left: -0.5em;
  width: 3ch;
  height: 2px;
  padding: 1em;
  cursor: pointer;
}
#gui .table-toggle:after{
  content: "";
  background: #cccccc;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 3ch;
  height: 2px;
  border-radius: 1px;
  transition: all 0.2s ease-in-out;
}

#gui .table-toggle:hover:after{
  background: #ffffff;
}
#gui .table-hidden .table-toggle:hover:after{
  width: 2ch;
  background: #ffffff;
}
#gui .table-hidden .table-toggle{
  display: block;
}
#gui .table-hidden .table-toggle:after{
  width: 1ch;
}
#gui table.table-hidden th:not(.table-name),
#gui table.table-hidden td,
#gui table.table-hidden span
{
  display: none;
}
.gui-window #gui table{
  border-spacing: 0.5em;
}
#gui th{
  color: #ffffff;
  text-align: left;
}
#gui td{
  /* overflow: hidden; */
  height: 1ch;
  /* max-width: 3ch; */
}
#gui input{
  width: 3ch;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  text-align: left;
  color: inherit;
  color: #cccccc;
  font-size: 1em;
}
#gui input:hover,
#gui span:hover,
#gui .list-action:hover,
#gui .toggle-action:hover{
  font-weight: bold;
  color: #ffffff;
}
#gui .toggle-action{
  color: #aaaaaa;
}
#gui .toggle-action.toggle-active{
  color: #ffffff;
}

#gui span,
#gui .list-action,
#gui .toggle-action{
  cursor: pointer;
}
#gui .list-item{
  margin-right: 1ch;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.for-engine{
  display: none;
}
.engine-c2d .for-engine-c2d{
  display: table-row;
}
.for-colormode{
  display: none;
}
.colormode-ndx tr.for-colormode-ndx{
  display: table-row;
}
.colormode-grd tr.for-colormode-grd{
  display: table-row;
}
.colormode-rgb tr.for-colormode-rgb{
  display: table-row;
}
.colormode-hsl tr.for-colormode-hsl{
  display: table-row;
}
.for-sec-colormode,
.engine-c2d .for-sec-colormode{
  display: none;
}
.engine-c2d.sec-colormode-ndx tr.for-sec-colormode-ndx{
  display: table-row;
}
.engine-c2d.sec-colormode-grd tr.for-sec-colormode-grd{
  display: table-row;
}
.engine-c2d.sec-colormode-rgb tr.for-sec-colormode-rgb{
  display: table-row;
}
.engine-c2d.sec-colormode-hsl tr.for-sec-colormode-hsl{
  display: table-row;
}
.for-osc0-type{
  display: none;
}
.osc0-type-osc tr.for-osc0-type-osc,
.osc0-type-sqr tr.for-osc0-type-sqr,
.osc0-type-saw tr.for-osc0-type-saw,
.osc0-type-tri tr.for-osc0-type-tri,
.osc0-type-sin tr.for-osc0-type-sin,
.osc0-type-prl tr.for-osc0-type-prl,
.osc0-type-plx tr.for-osc0-type-plx{
  display: table-row;
}
.osc0-type-osc th.for-osc0-type-osc,
.osc0-type-sqr th.for-osc0-type-sqr,
.osc0-type-saw th.for-osc0-type-saw,
.osc0-type-tri th.for-osc0-type-tri,
.osc0-type-sin th.for-osc0-type-sin,
.osc0-type-prl th.for-osc0-type-prl,
.osc0-type-plx th.for-osc0-type-plx{
  display: table-cell;
}
.for-osc1-type{
  display: none;
}
.osc1-type-osc tr.for-osc1-type-osc,
.osc1-type-sqr tr.for-osc1-type-sqr,
.osc1-type-saw tr.for-osc1-type-saw,
.osc1-type-tri tr.for-osc1-type-tri,
.osc1-type-sin tr.for-osc1-type-sin,
.osc1-type-prl tr.for-osc1-type-prl,
.osc1-type-plx tr.for-osc1-type-plx{
  display: table-row;
}
.osc1-type-osc th.for-osc1-type-osc,
.osc1-type-sqr th.for-osc1-type-sqr,
.osc1-type-saw th.for-osc1-type-saw,
.osc1-type-tri th.for-osc1-type-tri,
.osc1-type-sin th.for-osc1-type-sin,
.osc1-type-prl th.for-osc1-type-prl,
.osc1-type-plx th.for-osc1-type-plx{
  display: table-cell;
}
.for-osc2-type{
  display: none;
}
.osc2-type-osc tr.for-osc2-type-osc,
.osc2-type-sqr tr.for-osc2-type-sqr,
.osc2-type-saw tr.for-osc2-type-saw,
.osc2-type-tri tr.for-osc2-type-tri,
.osc2-type-sin tr.for-osc2-type-sin,
.osc2-type-prl tr.for-osc2-type-prl,
.osc2-type-plx tr.for-osc2-type-plx{
  display: table-row;
}
.osc2-type-osc th.for-osc2-type-osc,
.osc2-type-sqr th.for-osc2-type-sqr,
.osc2-type-saw th.for-osc2-type-saw,
.osc2-type-tri th.for-osc2-type-tri,
.osc2-type-sin th.for-osc2-type-sin,
.osc2-type-prl th.for-osc2-type-prl,
.osc2-type-plx th.for-osc2-type-plx{
  display: table-cell;
}
.for-osc3-type{
  display: none;
}
.osc3-type-osc tr.for-osc3-type-osc,
.osc3-type-sqr tr.for-osc3-type-sqr,
.osc3-type-saw tr.for-osc3-type-saw,
.osc3-type-tri tr.for-osc3-type-tri,
.osc3-type-sin tr.for-osc3-type-sin,
.osc3-type-prl tr.for-osc3-type-prl,
.osc3-type-plx tr.for-osc3-type-plx{
  display: table-row;
}
.osc3-type-osc th.for-osc3-type-osc,
.osc3-type-sqr th.for-osc3-type-sqr,
.osc3-type-saw th.for-osc3-type-saw,
.osc3-type-tri th.for-osc3-type-tri,
.osc3-type-sin th.for-osc3-type-sin,
.osc3-type-prl th.for-osc3-type-prl,
.osc3-type-plx th.for-osc3-type-plx{
  display: table-cell;
}
.for-osc4-type{
  display: none;
}
.osc4-type-osc tr.for-osc4-type-osc,
.osc4-type-sqr tr.for-osc4-type-sqr,
.osc4-type-saw tr.for-osc4-type-saw,
.osc4-type-tri tr.for-osc4-type-tri,
.osc4-type-sin tr.for-osc4-type-sin,
.osc4-type-prl tr.for-osc4-type-prl,
.osc4-type-plx tr.for-osc4-type-plx{
  display: table-row;
}
.osc4-type-osc th.for-osc4-type-osc,
.osc4-type-sqr th.for-osc4-type-sqr,
.osc4-type-saw th.for-osc4-type-saw,
.osc4-type-tri th.for-osc4-type-tri,
.osc4-type-sin th.for-osc4-type-sin,
.osc4-type-prl th.for-osc4-type-prl,
.osc4-type-plx th.for-osc4-type-plx{
  display: table-cell;
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: calc(100% - 1ch) !important; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  transform: translateY(-0.4ch)
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.5em;
  width: 0.5em;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -0.125em;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.25em;
  cursor: pointer;
  background: #cccccc;
  border-radius: 0.125em;
  border: none;
}
.ui-buttons-flag-off .for-ui-buttons{
  display: none;
}
.ui-labels-flag-off .for-ui-labels{
  display: none;
}
#tooltip{
  background: rgba(240,240,240,0.9);
  border-radius: 6px;
  font-size: 0.8em;
  padding: 2em;
  color: rgb(16,16,16);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  max-width: 30vw;
  white-space: normal;
}
#tooltip b{
  font-weight: bold;
  text-transform: uppercase;
}
.tooltip-is-active #tooltip{
  opacity: 1;
}
