@font-face {
    font-family: "Monospace";
    font-weight: 400;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}
@font-face {
    font-family: "Monospace";
    font-weight: 700;
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Bold.ttf");
}
body{
  width: 100%;
  height: 100%;
  background: black;
  font-size: 16px;
  text-transform: uppercase;
}
main{
  padding: 1rem;
}
*{
  font-family: "Monospace",monospace;
  font-weight: 400;
  color: white;
  appearance: none;
  user-select: none;
}
::selection,::-moz-selection{
  background: white;
  color: black;
}
table{
  font-size: 1rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
  white-space: pre;
  display: inline-block;
  position: relative;
  position: relative;
  vertical-align: top;
}
span{
  line-height: 1rem;
  height: 1rem;
  padding: 0.25rem 0.5rem;
}
tbody{
  display: table-row-group;
}
th{
  color: white;
  text-align: left;
  /* border-right: 0.1rem solid white; */
}
td,th{
  height: 1rem;
  vertical-align: text-bottom;
  /* border-right: 0.1rem solid white; */
}
td:last-of-type{
  border: 0;
}
th,td,tr,table{
  outline: 0.1rem solid white;
  /* padding: 0.2rem 0.5rem; */
}
td,th{
  padding: 0;
  /* padding: 0.1rem 0.5rem;
  padding: 0;
  padding: 0.1rem 0.2rem; */
}
input{
  width: 3ch;
  height: 1rem;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  text-align: left;
  color: inherit;
  color: #cccccc;
  font-size: 1rem;
}
input:hover{
  font-weight: bold;
  color: #ffffff;
}
input[type=text]{
  text-transform: uppercase;
}
input[type=number]{
  border: 0;
  outline: none;
  background: transparent;
  color: white;
  line-height: 1rem;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}
input[type=range] {
  border: 0.1rem solid white;
  margin: 0;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  /* width: 3ch !important; /* Specific width is required for Firefox. */
  width: 10ch !important;
  background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 0.1rem;
  border: none;
  background: white;
  cursor: ew-resize;
  box-shadow: -800px 0 0 800px white;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  /* background: repeating-linear-gradient(
    90deg,
    white,
    white 0.06rem,
    black 0.06rem,
    black 0.2rem
  ); */
  background: black;
  border: none;
}
input[type='range'] {
  overflow: hidden;
  height: 0.6rem;
  -webkit-appearance: none;
  background-color: white;
}
button{
  font-family: "Monospace",monospace;
  text-transform: uppercase;
  width: 1rem;
  height: 1rem;
  font-size: 0.7rem;
  line-height: 1rem;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  font-weight: 700;
  outline: none;
  background: transparent;
  cursor: pointer;
  outline: 0.15rem solid white;
  margin: 0.4rem 0.25rem;
  user-select: none;
}
button.auto{
  width: auto;
}
button:hover,button.active{
  background: white;
  color: black;
  transition: all 0.2s ease-in-out;
}
/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: calc(3ch - 0.2rem);
 height: 0.8rem;
 vertical-align: middle;
 transform: translate(4px,-1px);
 margin: 0.25rem calc(2.5ch - 0.1rem);
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: black;
 -webkit-transition: .4s;
 transition: .4s;
 outline: 0.1rem solid white;
 padding: 0;
}

.slider:before {
 position: absolute;
 content: "";
 height: 0.4rem;
 width: 0.4rem;
 left: 0.1rem;
 bottom: 0.1rem;
 background-color: white;
 transition: 0.2s ease-in-out;
}

input:checked + .slider {
 background-color: white;
}
input:checked + .slider:before {
 background-color: black;
}

input:checked + .slider:before {
 transform: translateX(0.6rem);
}
.help{
  padding: 0.5rem;
  font-size: 0.8rem;
  background: white;
  color: black;
  position: fixed;
  transform: translate(1rem,1rem);
}
